body {
    background: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.particle {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(25,170,250,.2 );
    border-radius: 50%;
    box-shadow: inset;
    transform: translate(-50px,-50px);
}