body {
    background: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.character {
    position: absolute;
    /* width: 100px;
    height: 100px; */
    top: 0px;
    left: 0px;
    /* background: rgba(25,170,250,.005 ); */
    background: rgba(25,170,250,1 );
    border-radius: 50%;
    /* box-shadow: 0px 0px 40px  rgba(25,170,250,.19) ; */
    box-shadow: inset;
    transform: translate(-50px,-50px);
}