body {
    background: black;
    height: 100%;
    width: 100%;
}

#character {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    background: white;
    border-radius: 50%;
}